body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    
    padding: 2em;
    font-size: 2em;
    border-bottom: 10px dashed black;
}

#index ul {
    display: flex;
    
}

#index li {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    width: 200px;
    height: 200px;
    list-style-type: none;
    padding-left: 2em;
    padding-right: 2em;
    margin: 2em;
    border: 5px dashed green;
    border-radius: 20%;
    color: green;
    font-size: 24px;
    font-weight: 400;
    
}

li a {
    text-decoration: none;
    color: inherit;
}
li a:hover {
    transition: all 0.3s ease-in-out;
    color: lightgreen;
}

img {
    display: block;
    width: 150px;
    height: auto;
    border: 10px black solid;
    padding: 1em;
}

h2 {
    display: inline-block;
    border-bottom: 5px dashed;
}

p {
    width: 400px;
    margin-left: 2em;
}

ul {
    list-style-type: '\1F944';
}

ol {
    
}